<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DDoS Security Suite">
     
     <test name="DDOS Security Test">
    	<classes>
	         <class name="com.tests.project.security.DDoS_SecurityTests"/>
     	</classes>
     </test>
</suite>

